<main class="flex flex-col gap-8 w-full lg:w-[480px]">
  <header class="flex flex-col">
    <h1 class="text-[40px] text-black font-semibold">Select Your Role</h1>
    <p class="text-gray-500 dark:text-gray-400">Select a role and continue to sign up</p>
  </header>

  <section class="flex flex-col gap-6 py-5">
    @for (role of roles; track $index) {
    <div
      class="flex items-center rounded-lg transition gap-3 cursor-pointer"
      [class.bg-blue-50]="selectedRole() === role.key"
      (click)="selectRole(role.key)"
    >
      <div class="size-[42px] flex items-center justify-center rounded-lg bg-violet-100">
        <img [src]="role.icon" alt="client icon" />
      </div>

      <div class="info">
        <p class="text-base text-black font-semibold">{{role.label}}</p>
        <span class="text-sm text-black">{{role.description}}</span>
      </div>
    </div>
    }
  </section>

  <div class="flex flex-col gap-2">
    <p-button label="CONTINUE" (click)="navigateToNext()" [disabled]="selectedRole() == null" />
    <p class="text-base text-gray-400 text-center">
      Already have an account? <a class="text-blue-900 cursor-pointer">SIGN IN</a>
    </p>
  </div>
</main>
