@use './../../../../styles/_variables' as *

::ng-deep .p-checkbox-box
    background: white 
    border-color: $primary !important

::ng-deep .p-checkbox-input:checked ~ .p-checkbox-box
    background: $primary !important

::ng-deep .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover:not(:checked)) .p-checkbox-box
    background: transparent 
    border-width: 2px
    border-color: $blue !important

// ::ng-deep .p-checkbox-input:hover
//     background: transparent !important
//     border-color: transparent !important

::ng-deep .p-checkbox-icon
    color: white !important
