<main>
  <section class="left">
    <div class="logo">
      <img src="./assets/logo.png" alt="fixora logo" />
      <p>fixora</p>
    </div>

    <div class="container">
      <ng-content select="content" />
    </div>
  </section>

  <section class="right">
    <div class="carousel">
      <div class="outer-circle">
        <div class="inner-circle"></div>
      </div>

      <div class="review">
        <p>
          "Great platform to connect with service providers. I found a reliable plumber within
          minutes!"
        </p>
        <span>~ Jane Doe</span>
      </div>
    </div>

    <div class="text-indicators">
      <div class="text-container">
        <p>Connect with service providers worldwide</p>
        <span>Everything you need is available here on Fixora platform</span>
      </div>

      <div class="indicators">
        <div class="indicator active"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
      </div>
    </div>
  </section>
</main>
