/* You can add global styles to this file, and also import other style files */
@use './app/styles/_reset' as *
@use './app/styles/_variables' as *
@tailwind base
@tailwind components
@tailwind utilities


.p-button
    width: 100%
    background: $primary
    border: $primary !important

.p-button:not(:disabled):hover
    background: $blue !important

.p-button-label
    color: white